/* General Styles */
.body-no-interaction main {
    pointer-events: none;
}

.task-card {
    transition: transform 0.3s ease;
}

.task-card:hover {
    transform: translateY(-5px);
}

#sidebar {
    pointer-events: auto;
}

.search-bar-hidden {
    display: none;
}

.search-bar-visible {
    display: block;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}

.dropdown-menu i {
    margin-right: 8px;
}

/* Button Styles */
.button {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f0f0f0;
}

.menu-btn i {
    margin-right: 8px;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Animation Styles */
.animate-slide-down {
    animation: slide-down 0.3s ease-in-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Footer Styles */
footer {
    margin-left: 250px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    footer {
        margin-left: 0;
    }
}

/* Preloader Styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 41, 55);
    z-index: 1000;
}

.loader {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3498db;
    animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}